extends blog-base

block blog-content
    .row
        .col-10.offset-1.text-center
            img#me(src='img/me.jpg')
            br
            br
            p Hi! I'm Nick.
            br
            p I'm currently a Software Engineering student at the
                a(href='https://uq.edu.au/')  University of Queensland (UQ)
                | , where I've also completed degrees in Finance and Psychology.
            br
            p I'm the current president of the
                a(href='https://uqcs.org.au')  UQ Computing Society (UQCS)
                | , a tutor in UQ's faculty of Engineering, Architecture and IT and a research assistant in UQ's
                a(href='http://www.itee.uq.edu.au/cis/')  Complex and Intelligent Systems Group
                | , where I work on the
                a(href='http://www.itee.uq.edu.au/cis/tap')  Transcription Acceleration Project
                | .
            br
            p I used to work at
                a(href='http://adled.com.au')  ADLED
                | , an LED Billboard company in sunny Brisbane, Australia.
            br
            p I recently participated in the UQ Winter Research Scholarship Program in UQ's Social Robotics Lab (SRL) under the direction of
                a(href='http://gdurantin.com/')  Dr Gautier Durantin
                | . I'll be joining the SRL again as a Summer Research Scholar from November to February under
                a(href='https://researchers.uq.edu.au/researcher/13')  Professor Janet Wiles
                | .
            br
            p On this site you can read
                a(href='https://#{base}')  my musings
                |  on software and life, check out the
                a(href='/projects')  projects
                |  I work on for work, university (or just for fun).
            br
            p Each year I set myself a challenge to read 50 books (though I rarely succeed), you can find out what I'm reading
                a(href='/reading')  here
                | . If, for whatever reason, you're interested you can also see
                a(href='/listening')  what I'm listening to
                | .
            br
            p If you'd like to get in contact you can reach me on
                a(href='https://twitter.com/nicklambourne')  Twitter,
                |  otherwise you can find my email address in
                a(href='https://ndl.im/cv.pdf')  my CV
                | .
            br
            br
