extends blog-base

block blog-content
    .row
        .col-8.offset-2
            p Hi! I'm Nick. Somehow you've found your way onto my blog.
            p I'm a software engineering student at the University of Queensland.
