extends blog-base


block blog-content
    .row
        .col-10.offset-1
            form(method="post")
                h4 New post
                br
                input.form-control(type="text", placeholder="Tile", name="title", id="title")
                br
                textarea.form-control(placeholder="Content", name="content", id="content")
                br
                button.btn.btn-success(type="submit") Create Post