extends layout


block content
    nav.navbar.navbar-expand-lg.navbar-dark.bg-transparent
        a.navbar-brand.pulse(href='/')
            img.brand-img#brand-img(src='/img/logo.png')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarLinks', aria-controls='navbarLinks', aria-expanded='false', aria-label='Toggle navigation')#navTog
            span.navbar-toggler-icon.smoke
        .collapse.navbar-collapse#navbarLinks
            ul.navbar-nav
                li.nav-item.navItem
                    a.nav-link.navLink(href='https://blog.ndl.im/about') About
                li.nav-item.navItem
                    a.nav-link.navLink(href='https://blog.ndl.im') Blog
                li.nav-item.navItem
                    a.nav-link.navLink(href='https://blog.ndl.im/projects') Projects
                li.nav-item.navItem
                    a.nav-link.navLink(href='https://ndl.im/cv.pdf') CV
    .container
        block blog-content