extends layout


block headers
    link(rel='stylesheet', href='/css/blog.css')
    link(rel='stylesheet', href='/css/prism.css')
    script(type='application/ld+json').
        {
            "@context": "https://schema.org",
            "@type": "Blog",
            "author": "Nicholas Lambourne",
            "image": "https://ndl.im/img/logo.png"
        }
    script(src='/js/prism.js', crossorigin='anonymous')
    block subheaders


block content
    nav.navbar.navbar-expand-lg.navbar-dark.bg-transparent
        a.navbar-brand.pulse(href='https://#{base}')
            img.brand-img#brand-img(src='/img/logo.png')
        button.navbar-toggler.custom-toggler(type='button', data-toggle='collapse', data-target='#navbarLinks', aria-controls='navbarLinks', aria-expanded='false', aria-label='Toggle navigation')#navTog
            span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarLinks
            ul.navbar-nav
                li.nav-item.navItem
                    a.nav-link.navLink(href='/about') About
                li.nav-item.navItem
                    a.nav-link.navLink(href='/') Blog
                li.nav-item.navItem
                    a.nav-link.navLink(href='/reading') Reading List
                li.nav-item.navItem
                    a.nav-link.navLink(href='/projects') Projects
                li.nav-item.navItem
                    a.nav-link.navLink(href='/meta') Meta
    .container(itemprop='', itemtype='https://schema.org/Blog')
        block blog-content