extends layout


block headers
    link(rel='stylesheet', href='/css/blog.css')
    block subheaders

block content
    nav.navbar.navbar-expand-lg.navbar-dark.bg-transparent
        a.navbar-brand.pulse(href='http://#{base}')
            img.brand-img#brand-img(src='/img/logo.png')
        button.navbar-toggler.custom-toggler(type='button', data-toggle='collapse', data-target='#navbarLinks', aria-controls='navbarLinks', aria-expanded='false', aria-label='Toggle navigation')#navTog
            span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarLinks
            ul.navbar-nav
                li.nav-item.navItem
                    a.nav-link.navLink(href='/about') About
                li.nav-item.navItem
                    a.nav-link.navLink(href='/projects') Projects
                li.nav-item.navItem
                    a.nav-link.navLink(href='/meta') Meta
                li.nav-item.navItem
                    a.nav-link.navLink(href='/cv.pdf') CV
    .container(itemprop='', itemtype='http://schema.org/Blog')
        block blog-content