extends layout

block content
    .fullscreen-bg
        video#bg-vid(autoplay='', loop='', muted='', plays-inline='' poster='/img/vidbg.png')
            source(src='/video/bg.mp4', type='video/mp4')

    a#brand.pulse
        img.brand-img#brand-img(src='/img/logo.png')

