extends layout

block headers
    link(rel='stylesheet', href='/css/index.css')

block content

    .fullscreen-bg
        video#bg-vid(autoplay='', loop='', muted='', plays-inline='' poster='/img/vigbg.jpg')
            source(src='/video/bg.mp4', type='video/mp4')

    nav.navbar.navbar-expand-lg.navbar-dark.bg-transparent
        a.navbar-brand.pulse(href='/')
            img.brand-img#brand-img(src='/img/logo.png')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarLinks', aria-controls='navbarLinks', aria-expanded='false', aria-label='Toggle navigation')#navTog
            span.navbar-toggler-icon.smoke
        .collapse.navbar-collapse#navbarLinks
            ul.navbar-nav
                li.nav-item.navItem
                    a.nav-link.navLink(href='http://blog.#{base}/about') About
                li.nav-item.navItem
                    a.nav-link.navLink(href='http://blog.#{base}/') Blog
                li.nav-item.navItem
                    a.nav-link.navLink(href='http://blog.#{base}/projects') Projects
                li.nav-item.navItem
                    a.nav-link.navLink(href='https://ndl.im/cv.pdf') CV
    footer.footer.bg-transparent
        .container
            .row.footer-row#socialLinksRow
                a.social-link(href='https://www.linkedin.com/in/nicholas-lambourne-07b782a2/' style='text-decoration: none;' target='_blank')
                    i#linkedinIcon
                a.social-link(href='https://github.com/nicklambourne' style='text-decoration: none;' target='_blank')
                    i#githubIcon
                a.social-link(href='https://twitter.com/nicklambourne' style='text-decoration: none;' target='_blank')
                    i#twitterIcon
            .row.footer-row
                a(href='javascript:;' style='text-decoration: none;')#linkAggregator
                    i.fa.fa-heart-o.fa-2x(aria-hidden='true')
            .row.footer-row
                #preload
                    img(src='/img/social/li-light.png', height='1px', width='1px')
                    img(src='/img/social/tw-light.png', height='1px', width='1px')
                    img(src='/img/social/gh-light.png', height='1px', width='1px')


    script.
        var linkHovered = function() {
            return $('#linkAggregator:hover').length !== 0 ||
                $('.social-link:hover').length !== 0
        }

        var fadeIfInaction = function() {
            setTimeout(
                function() {
                    if (!linkHovered()) {
                        $('#socialLinksRow').animate({opacity: 0.0}, 750, 'linear');
                        setTimeout(function () {
                            $('#socialLinksRow').css({visibility: 'hidden'})
                        }, 750);
                    } else {
                        setTimeout(fadeIfInaction(), 4000);
                    }
                }, 4000
            );
        }

        $('#linkAggregator').mouseover(function () {
            $('#socialLinksRow').css({visibility: 'visible'});
            $('#socialLinksRow').animate({opacity: 1.0}, 750, 'linear');
        });
        $('#linkAggregator').mouseleave(function () {
            fadeIfInaction();
        });

