extends layout

block content

    .fullscreen-bg
        video#bg-vid(autoplay='', loop='', muted='', plays-inline='' poster='/img/vigbg.jpg')
            source(src='/video/bg.mp4', type='video/mp4')

    nav.navbar.navbar-expand-lg.navbar-dark.bg-transparent
        a.navbar-brand.pulse
            img.brand-img#brand-img(src='/img/logo.png')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarLinks', aria-controls='navbarLinks', aria-expanded='false', aria-label='Toggle navigation')#navTog
            span.navbar-toggler-icon.smoke
        .collapse.navbar-collapse#navbarLinks
            ul.navbar-nav
                li.nav-item.navItem
                    a.nav-link.navLink(href='/about') About
                li.nav-item.navItem
                    a.nav-link.navLink(href='/blog') Blog
                li.nav-item.navItem
                    a.nav-link.navLink(href='/projects') Projects
                li.nav-item.navItem
                    a.nav-link.navLink(href='/cv') CV
    footer.footer.bg-transparent
        .container
            .row.footer-row#socialLinksRow
                a.social-link(href="https://www.linkedin.com/in/nicholas-lambourne-07b782a2/" style="text-decoration: none;" target="_blank")
                    i#linkedinIcon
                a.social-link(href="https://github.com/nickl93" style="text-decoration: none;" target="_blank")
                    i#githubIcon
                a.social-link(href="https://twitter.com/nicklambourne" style="text-decoration: none;" target="_blank")
                    i#twitterIcon
            .row.footer-row
                a(href="javascript:;" style="text-decoration: none;")#linkAggregator
                    i.fa.fa-heart-o.fa-2x(aria-hidden='true')
    script.
        $("#linkAggregator").mouseover(function () {
            $("#socialLinksRow").css({visibility: "visible"});
            $("#socialLinksRow").animate({opacity: 1.0}, 750, 'linear');
            $("#linkAggregator").mouseleave(function() {
                setTimeout(
                    function () {
                        $("#socialLinksRow").animate({opacity: 0.0}, 750, 'linear');
                        setTimeout(function() {$("#socialLinksRow").css({visibility: "hidden"})}, 750);
                    },
                    3000);
            });
        });

