doctype html
html(lang='en')
    head
        // Global site tag (gtag.js) - Google Analytics
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-66172509-3')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-66172509-3');
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description' content='The personal site and blog of Nicholas Lambourne, student software engineer at the University of Queensland')
        title #{title}
        script(src='/jquery.min.js', crossorigin='anonymous')
        script(src='/umd/popper.min.js', crossorigin='anonymous')
        script(src='/js/bootstrap.min.js', crossorigin='anonymous', async='')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        block headers
        link(rel='apple-touch-icon', sizes='180x180', href='/favicons/apple-touch-icon.png?v=eE5px9dpMd')
        link(rel='icon', type='image/png', sizes='32x32', href='/favicons/favicon-32x32.png?v=eE5px9dpMd')
        link(rel='icon', type='image/png', sizes='16x16', href='/favicons/favicon-16x16.png?v=eE5px9dpMd')
        link(rel='manifest', href='/favicons/manifest.json?v=eE5px9dpMd')
        link(rel='mask-icon', href='/favicons/safari-pinned-tab.svg?v=eE5px9dpMd', color='#490e5d')
        link(rel='shortcut icon', href='/favicons/favicon.ico?v=eE5px9dpMd')
        link(href="https://fonts.googleapis.com/css?family=Montserrat:500,500i" rel="stylesheet")
        meta(name='apple-mobile-web-app-title', content='Nicholas Lambourne')
        meta(name='application-name', content='Nicholas Lambourne')
        meta(name='msapplication-config', content='/favicons/browserconfig.xml?v=eE5px9dpMd')
        meta(name='theme-color', content='#ffffff')
    body
        block content
