doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title= title
        script(src='/jquery.slim.min.js', crossorigin='anonymous', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN')
        script(src='/umd/popper.min.js', crossorigin='anonymous')
        script(src='/js/bootstrap.min.js', crossorigin='anonymous', integrity='sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='apple-touch-icon', sizes='180x180', href='/favicons/apple-touch-icon.png?v=eE5px9dpMd')
        link(rel='icon', type='image/png', sizes='32x32', href='/favicons/favicon-32x32.png?v=eE5px9dpMd')
        link(rel='icon', type='image/png', sizes='16x16', href='/favicons/favicon-16x16.png?v=eE5px9dpMd')
        link(rel='manifest', href='/favicons/manifest.json?v=eE5px9dpMd')
        link(rel='mask-icon', href='/favicons/safari-pinned-tab.svg?v=eE5px9dpMd', color='#490e5d')
        link(rel='shortcut icon', href='/favicons/favicon.ico?v=eE5px9dpMd')
        meta(name='apple-mobile-web-app-title', content='Nicholas Lambourne')
        meta(name='application-name', content='Nicholas Lambourne')
        meta(name='msapplication-config', content='/favicons/browserconfig.xml?v=eE5px9dpMd')
        meta(name='theme-color', content='#ffffff')
    body
        block content
