extends blog-base


block blog-content
    .row
        .col-8.offset-2.text-center
            p This site was built by me as an excuse to learn JavaScript.
            br
            p It runs on Node and uses the Express.js web framework.
            br
            p It also uses Bootstrap 4, JQuery, with icons kindly provided by Font Awesome.
            br
            p Object storage with AWS S3, document/state storage with MongoDB through Atlas.
            br
            p Oh, and it's hosted on Heroku.
            br
            p
                | You can find the source
                a(href="https://github.com/nickl93/personal")  here
                | .