extends blog-base


block blog-content
    .row
        .col-8.offset-2
            p This site was built by me as an excuse to learn JavaScript.
            p It runs on Node and uses the Express.js web framework.
            p It uses Bootstrap 4, JQuery, with icons kindly provided by Font Awesome.
            p Object storage with AWS S3, document/state storage with MongoDB through Atlas.
            p It's hosted on Heroku.
            p
                | You can find the source
                a(href="https://github.com/nickl93/personal")  here
                | .