extends blog-base


block blog-content
    .row
        .col-8.offset-2.text-center
            p This site was built by me as an excuse to learn JavaScript.
            br
            p It runs on
                a(href='https://nodejs.org/en/')  Node
                |  and uses the
                a(href='https://expressjs.com/')  ExpressJS
                |  web framework.
            br
            p It also uses
                a(href='https://getbootstrap.com/docs/4.0/getting-started/introduction/')  Bootstrap 4
                | ,
                a(href='https://jquery.com/')  JQuery
                | ,
                a(href='http://prismjs.com/')  PrismJS
                | , with icons kindly provided by
                a(href='http://fontawesome.io/')  Font Awesome
                | .
            br
            p Object storage is with AWS S3, document/state storage with MongoDB through Atlas.
            br
            p Builds are managed by my Jenkins server, you can watch them fail spectacularly
                a(href="https://jenkins.ndl.im/blue/organizations/jenkins/personal/activity")  here
                | .
            br
            p Oh, and it's hosted on Heroku.
            br
            p You can find the source
                a(href='https://github.com/nickl93/personal')  here
                | .