extends blog-base


block blog-content
    div(itemscope='', itemtype='https://schema.org/BlogPosting')
        .row
            .col-10.offset-1
                br
                h2(itemprop='name headline') #{post.title}
                time(datetime='#{post.time}' itemprop='datePublished')
                    em #{post.published.toDateString()} #{post.published.toLocaleTimeString('en-US', {hour12: false})}
                //- a(href='/post/edit/#{post.id}', style='color: white;')  Edit
                div(itemprop='articleBody')
                    | !{post.content}
                br
                br
                br