extends blog-base

block blog-content
    .row
        .col-10.offset-1.text-center
            p I'm in the process of porting over my projects from Github.
            br
            p In the meantime, why not check out my projects on
                a(href='https://github.com/nicklambourne')  Github
                | ?
            p You can also read more about this site
                a(href='/meta')  here
                | .