extends blog-base

block blog-content
    .row
        .col-10.offset-1.text-center
            h1 Reading List
            br
            ul#pills-tab.nav.nav-pills.mb-3.reading-pill-box(role='tablist')
                li.nav-item.year-tab
                    a#pills-2018-tab.nav-link.active.bg-light.text-muted(data-toggle='pill', href='#pills-2018', role='tab', aria-controls='pills-home', aria-selected='true') 2018
                li.nav-item
                    a#pills-2017-tab.nav-link.bg-light.text-muted(data-toggle='pill', href='#pills-2017', role='tab', aria-controls='pills-profile', aria-selected='false') 2017


            #pills-tabContent.tab-content
                #pills-2018.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-2018-tab')
                    h3 Read So Far In 2018
                    br
                    each book in books
                        .book
                            .row.aligner
                                .col-2
                                    img(src="#{book.img}", height="200px", width="125px")


                        
                #pills-2017.tab-pane.fade(role='tabpanel', aria-labelledby='pills-2017-tab')
                    h3 Read in 2017
                    ol
                        li Scarecrow and the Army of Theives - Matthew Reilly
                        li The Phoenix Project - Gene Kim, George Spafford & Kevin Behr
                        li Four Legendary Kingdoms - Matthew Reilly
                        li The One World Schoolhouse - Salman Khan
                        li The Girl with the Dragon Tattoo - Stieg Larsson
                        li Treasure Island - Robert Louis Stevenson
                        li The Girl Who Played with Fire - Stieg Larsson
                        li A Brief History of Time - Stephen Hawking
                        li Where are the Customer's Yachts? - Fred Schwed Jr.
                        li Casino Royale - Ian Fleming
                        li Brave New World - Aldous Huxley
                        li SPQR: A History of Ancient Rome - Mary Beard
                        li Misery - Stephen King
                        li Of Mice & Men - John Steinbeck
                        li Meditations - Marcus Aurelius
                        li Deep Work - Cal Newport
                        li Live and Let Die - Ian Fleming
                        li Production Ready Microservices - Susan Fowler Rigetti
                        li Eichmann in Jerusalem - Hannah Arendt
                        li The Trial - Franz Kafka
                        li Superintelligence - Nick Bostrom
                        li Mr Mercedes - Stephen King
                        li Let Me Tell You - Shirley Jackson
                        li The Golden Passport: Harvard Business School, the Limits of Capitalism, and the Moral Failure of the MBA Elite - Duff McDonald
                        li The Secret History - Donna Tartt
                        li The Art of Deception - Kevin Mitnick
                        li Quantum Chance: Nonlocality, Teleportation and Other Quantum Marvels - Nicolas Gisin
                    br
            br
            br
            
            
