extends blog-base

block blog-content
    .row
        .col-10.offset-1.text-center
            h1 Reading List
            br
            ul#pills-tab.nav.nav-pills.mb-3.reading-pill-box(role='tablist')
                li.nav-item.year-tab
                    a#pills-2018-tab.nav-link.active.bg-light.text-muted(data-toggle='pill', href='#pills-2018', role='tab', aria-controls='pills-home', aria-selected='true') 2018
                li.nav-item
                    a#pills-2017-tab.nav-link.bg-light.text-muted(data-toggle='pill', href='#pills-2017', role='tab', aria-controls='pills-profile', aria-selected='false') 2017
            
            #pills-tabContent.tab-content
                #pills-2018.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-2018-tab')
                    h3 Read So Far
                    ol(start=1)
                        li Women & Power - Mary Beard
                        li All the President's Men - Bob Woodward & Carl Bernstein
                        li The Haunting of Hill House - Shirley Jackson
                        li And Then There Were None - Agatha Christie
                        li Elanor Oliphant Is Completely Fine - Gail Honeyman
                        li We Are Never Meeting in Real Life - Samantha Irby
                        li Pride & Prejudice - Jane Austen
                        li The Handmaid's Tale - Margaret Atwood
                        li Soft Skills: The Software Developer's Life Manual - John Sonmez
                        li The War of Art - Steven Pressfield
                        li The Firm: The Story of McKinsey and Its Secret Influence on American Business - Duff McDonald
                        li What Happened  - Hillary Rodham Clinton
                    br
                    h3 Currently Reading
                    ol(start=13)
                        li A Higher Loyalty - James Comey
                        li Educated: A Memoir - Tara Westover
                        li This Fight is Our Fight: The Battle to Save America's Middle Class - Elizabeth Warren
                        li Sense & Sensibility - Jane Austen
                        li The Manager's Path - Camille Fournier
                        li JavaScript: The Good Parts - Douglas Crockford
                        li Gödel, Escher, Bach: An Eternal Golden Braid - Douglas Hofstadter
                        li The Girl Who Kicked the Hornet's Nest - Stieg Larsson
                        li American Prometheus: The Triumph & Tragedy of J. Robert Oppenheimer - Kai Bird & Martin J. Sherwin
                    br
                    h3 // TO DO
                    ul
                        li Six Easy Pieces: Essentials of Physics Explained - Richard Feynman
                        li Napoleon the Great - Andrew Roberts
                        li A Farewell to Arms - Ernest Hemmingway
                        li East of Eden - John Steinbeck
                        li The Goldfinch - Donna Tartt
                        li The Little Friend - Donna Tartt
                        li The Satanic Verses - Salman Rushdie
                        
                #pills-2017.tab-pane.fade(role='tabpanel', aria-labelledby='pills-2017-tab')
                    h3 Read in 2017
                    ol
                        li Scarecrow and the Army of Theives - Matthew Reilly
                        li The Phoenix Project - Gene Kim, George Spafford & Kevin Behr
                        li Four Legendary Kingdoms - Matthew Reilly
                        li The One World Schoolhouse - Salman Khan
                        li The Girl with the Dragon Tattoo - Stieg Larsson
                        li Treasure Island - Robert Louis Stevenson
                        li The Girl Who Played with Fire - Stieg Larsson
                        li A Brief History of Time - Stephen Hawking
                        li Where are the Customer's Yachts? - Fred Schwed Jr.
                        li Casino Royale - Ian Fleming
                        li Brave New World - Aldous Huxley
                        li SPQR: A History of Ancient Rome - Mary Beard
                        li Misery - Stephen King
                        li Of Mice & Men - John Steinbeck
                        li Meditations - Marcus Aurelius
                        li Deep Work - Cal Newport
                        li Live and Let Die - Ian Fleming
                        li Production Ready Microservices - Susan Fowler Rigetti
                        li Eichmann in Jerusalem - Hannah Arendt
                        li The Trial - Franz Kafka
                        li Superintelligence - Nick Bostrom
                        li Mr Mercedes - Stephen King
                        li Let Me Tell You - Shirley Jackson
                        li The Golden Passport: Harvard Business School, the Limits of Capitalism, and the Moral Failure of the MBA Elite - Duff McDonald
                        li The Secret History - Donna Tartt
                        li The Art of Deception - Kevin Mitnick
                        li Quantum Chance: Nonlocality, Teleportation and Other Quantum Marvels - Nicolas Gisin
                    br
            br
            br
            
            
