extends blog-base

block blog-content
    .row
        .col-10.offset-1.text-center
            h1 Reading List 2017
            br
            h3 Currently Reading
            ol(start=20)
                li Superintelligence - Nick Bostrom
                li The Manager's Path - Camille Fournier
                li JavaScript: The Good Parts - Douglas Crockford
            br
            h3 Read So Far
            ol
                li Scarecrow and the Army of Theives - Matthew Reilly
                li Four Legendary Kingdoms - Matthew Reilly
                li The One World Schoolhouse - Salman Khan
                li The Girl with the Dragon Tattoo - Stieg Larsson
                li Treasure Island - Robert Louis Stevenson
                li The Girl Who Played with Fire - Stieg Larsson
                li A Brief History of Time - Stephen Hawking
                li Where are the Customer's Yachts? - Fred Schwed Jr.
                li Casino Royale - Ian Fleming
                li Brave New World - Aldous Huxley
                li SPQR: A History of Ancient Rome - Mary Beard
                li Misery - Stephen King
                li Of Mice & Men - John Steinbeck
                li Meditations - Marcus Aurelius
                li Deep Work - Cal Newport
                li Live and Let Die - Ian Fleming
                li Production Ready Microservices - Susan Fowler Rigetti
                li Eichmann in Jerusalem - Hannah Arendt
                li The Trial - Franz Kafka
            br
            h3 // TO DO
            ol(start=23)
                li The Secret History - Donna Tartt
                li The Satanic Verses - Salman Rushdie
                li Napoleon the Great - Andrew Roberts
                li The Art of Deception - Kevin Mitnick
