extends blog-base

block blog-content
    .row
        .col-10.offset-1.text-center
            h1 Reading List
            br
            p Each year I set myself a goal to read fifty books (roughly one per week, with a little bit of wiggle room), though I rarely succeed. The lists below combine my efforts across three mediums: physical books, ebooks (Kindle) and audiobooks (Audible).
            br
            ul#pills-tab.nav.nav-pills.mb-3.reading-pill-box(role='tablist')
                li.nav-item.year-tab
                    a#pills-2020-tab.nav-link.active.bg-light.text-muted(data-toggle='pill', href='#pills-2020', role='tab', aria-controls='pills-2020', aria-selected='true') 2020
                li.nav-item.year-tab
                    a#pills-2019-tab.nav-link.bg-light.text-muted(data-toggle='pill', href='#pills-2019', role='tab', aria-controls='pills-2019', aria-selected='false') 2019
                li.nav-item.year-tab
                    a#pills-2018-tab.nav-link.bg-light.text-muted(data-toggle='pill', href='#pills-2018', role='tab', aria-controls='pills-2018', aria-selected='false') 2018
                li.nav-item.year-tab
                    a#pills-2017-tab.nav-link.bg-light.text-muted(data-toggle='pill', href='#pills-2017', role='tab', aria-controls='pills-2017', aria-selected='false') 2017
            br
            #pills-tabContent.tab-content
                #pills-2020.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-2020-tab')
                    h3 Read So Far in 2020
                    br
                    ol(start=1)
                        li Henry V - Ian Mortimer
                        li The Anarchy - William Dalrymple
                        li Revolutionary Iran - Michael Axworthy
                        li A Great & Terrible King - Marc Morris
                        li Francis I - Leonie Frieda
                        li The Dictator's Handbook - Alastair Smith & Bruce Bueno de Mesquita
                        li Agincourt - Bernard Cornwell
                        li The Ayatollah Begs to Differ - Hooman Majd
                        li Brotopia - Emily Chang
                        li A Little History of Economics - Niall Kishtainy
                        li Whistleblower - Susan Fowler
                        li Reset - Ellen Pao
                        li Fun Home - Alison Bechdel
                        li Facebook: The Inside Story - Steven Levy
                        li Ten Caesars - Barry Strauss
                        li Talking to Strangers - Malcolm Gladwell
                        li Five Presidents - Lisa McCubbin & Clint Hill
                        li Deep Work - Cal Newport
                        li The Ministry of Guidance Invites You Not to Stay - Hooman Majd
                        li The Hunt for Red October - Tom Clancy
                        li Mr. Putin - Fiona Hill & Clifford G. Gaddy
                        li The Tales of Beedle the Bard - J. K. Rowling
                        li Uncanny Valley - Anna Wiener
                        li The Cardinal of the Kremlin - Tom Clancy
                        li Ice Station - Matthew Reilly
                        li Area 7 - Matthew Reilly
                        li Scarecrow - Matthew Reilly
                        li The Golden Passport: Harvard Business School, the Limits of Capitalism, and the Moral Failure of the MBA Elite - Duff McDonald
                        li Contest - Matthew Reilly
                        li The Economics of Inequality - Thomas Piketty & Arthur Goldhammer
                        li Temple - Matthew Reilly
                    br
                    h3 Currently Reading
                    br
                    ol(start=32)
                        li Seven Ancient Wonders - Matthew Reilly
                        li Who Says Elephants Can't Dance - Lou Gerstner
                        li Emperor - Geoffry Parker
                        li QED: A Strange Theory of Light and Matter - Richard Feynman
                        li The Republic - Plato
                        li From Russia With Love - Ian Fleming
                        li The Prince - Niccolò Machiavelli
                        li Sense & Sensibility - Jane Austen
                        li The Little Friend - Donna Tartt
                        li Gödel, Escher, Bach: An Eternal Golden Braid - Douglas Hofstadter
                    br
                    h3 // TODO
                    ul
                        li Patriot Games - Tom Clancy
                        li Understanding Iran - William R. Polk
                        li The Twilight War - David Crist
                        li October - China Mieville
                        li The Fall of Heaven - Andrew Scott Cooper
                        li MBS - Ben Hubbard
                        li Histories - Herodotus
                        li Understanding Complexity - Scott E. Page
                        li Six Easy Pieces: Essentials of Physics Explained - Richard Feynman
                        li Napoleon the Great - Andrew Roberts
                        li A Farewell to Arms - Ernest Hemmingway
                        li East of Eden - John Steinbeck
                        li The Goldfinch - Donna Tartt

                #pills-2019.tab-pane.fade(role='tabpanel', aria-labelledby='pills-2019-tab')
                    h3 Read in 2019
                    br
                    ol(start=1)
                        li The Three Secret Cities - Matthew Reilly
                        li The Innovators: How a Group of Hackers, Geeks and Geniuses Created the Digital Revolution - Walter Isaacson
                        li Creativity Inc. - Ed Catmull & Amy Wallace
                        li Cicero: The Life and Times of Rome's Greatest Politician - Anthony Everitt
                        li Conspiracy: Peter Theil, Hulk Hogan, Gawker and the Anatomy of Intrigue - Ryan Holiday
                        li Young Titan: The Making of Winston Churchill - Michael Shelden
                        li Zero to One: Notes on Startups, How to Build the Future - Peter Theil
                        li Socrates: A Man For Our Times - Paul Johnson
                        li Significant Figures: The Lives and Work of Great Mathematicians - Ian Stewart
                        li Never Split the Difference: Negotiating As If Your Life Depended On It - Chris Voss
                        li The Wars of the Roses: The Fall of the Plantagenets and the Rise of the Tudors - Dan Jones
                        li The Templars: The Rise and Spectacular Fall of God's Holy Warriors - Dan Jones
                        li The Obstacle is the Way - Ryan Holiday
                        li Small Fry - Lisa Brennan-Jobs
                        li The Rise of Athens - Anthony Everitt
                        li The Virtues of War - Steven Pressfield
                        li Gates of Fire - Steven Pressfield
                        li Waterloo: The History of Four Days, Three Armies & Three Battles - Bernard Cornwell
                        li The Profession - Steven Pressfield
                        li Empire of Dragons - Valerio Massimo Manfredi
                        li Killing Rommel - Steven Pressfield
                        li The Afghan Campaign - Steven Pressfield
                        li The Lion's Gate: On the Front Lines of the Six Day War - Steven Pressfield
                        li Augustus: First Emperor of Rome - Adrian Goldsworthy
                        li Tides of War - Steven Pressfield
                        li Eureka Man: The Life and Legacy of Archimedes - Alan Hirshfeld
                        li Bitwise: A Life In Code - David Auerbach
                        li The Fall of Carthage - Adrian Goldsworthy
                        li The Secret Runners of New York - Matthew Reilly
                        li Caesar - Adrian Goldsworthy
                        li Benjamin Franklin: An American Life - Walter Isaacson
                        li The Plantagenets - Dan Jones
                        li Last of the Amazons - Steven Pressfield
                        li Legion Versus Phalanx - Myke Cole
                        li How to Hide an Empire - Daniel Immerwahr
                        li Tempests and Slaughter - Tamora Pierce
                        li Alanna: The First Adventure - Tamora Pierce
                        li In The Hand of the Goddess - Tamora Pierce
                        li The Woman Who Rides Like a Man - Tamora Pierce
                        li Lioness Rampant - Tamora Pierce
                        li Desert Fox: The Storied Military Career of Erwin Rommel - Samuel Mitcham
                        li Wild Magic - Tamora Pierce
                        li Wolf Speaker - Tamora Pierce
                        li The Emperor Mage - Tamora Pierce
                        li Realms of the Gods - Tamora Pierce
                        li First Test - Tamora Pierce
                        li Page - Tamora Pierce
                        li Squire - Tamora Pierce
                        li Lady Knight - Tamora Pierce
                        li Leonardo da Vinci - Walter Isaacson
                        li Trickster's Choice - Tamora Pierce
                        li The Borgias: Power and Fortune - Paul Strathern
                        li Trickster's Queen - Tamora Pierce
                        li The Magic in the Weaving - Tamora Pierce
                        li The Power in the Storm - Tamora Pierce
                        li The Fire in the Forging - Tamora Pierce
                        li The Healing in the Vine - Tamora Pierce
                        li The Medici: Godfathers of the Renaissance - Paul Strathern
                        li Magic Steps - Tamora Pierce
                        li Street Magic - Tamora Pierce
                        li Cold Fire - Tamora Pierce
                        li Shatterglass - Tamora Pierce
                        li The Will of the Empress - Tamora Pierce
                        li Melting Stones - Tamora Pierce
                        li Battle Magic - Tamora Pierce
                        li The Crusades: the Authoritative History of the War for the Holy Land - Thomas Asbridge
                        li Terrier - Tamora Pierce
                        li Genghis Khan and the Making of the Modern World - Jack Weatherford
                        li Bloodhound - Tamora Pierce
                        li The Norman Conquest: The Battle of Hastings and the Fall of Anglo-Saxon England - Marc Morris
                        li Mastiff - Tamora Pierce
                        li The Storm Before the Storm - Mike Duncan
                        li Edward III: The Perfect King - Ian Mortimer

                #pills-2018.tab-pane.fade(role='tabpanel', aria-labelledby='pills-2018-tab')
                    h3 Read in 2018
                    br
                    ol(start=1)
                        li Women & Power - Mary Beard
                        li All the President's Men - Bob Woodward & Carl Bernstein
                        li The Haunting of Hill House - Shirley Jackson
                        li And Then There Were None - Agatha Christie
                        li Elanor Oliphant Is Completely Fine - Gail Honeyman
                        li We Are Never Meeting in Real Life - Samantha Irby
                        li Pride & Prejudice - Jane Austen
                        li The Handmaid's Tale - Margaret Atwood
                        li Soft Skills: The Software Developer's Life Manual - John Sonmez
                        li The War of Art - Steven Pressfield
                        li The Firm: The Story of McKinsey and Its Secret Influence on American Business - Duff McDonald
                        li What Happened  - Hillary Rodham Clinton
                        li A Higher Loyalty - James Comey
                        li Educated: A Memoir - Tara Westover
                        li Chemistry - Weiki Wang
                        li Murder on the Orient Express - Agatha Christie
                        li Dreams From My Father: A Story of Race and Inheritance - Barack Obama
                        li The Heart is a Lonely Hunter - Carson McCullers
                        li The Mysterious Affair at Styles - Agatha Christie
                        li American Prometheus: The Triumph & Tragedy of J. Robert Oppenheimer - Kai Bird & Martin J. Sherwin
                        li The Girl Who Kicked the Hornet's Nest - Stieg Larsson
                        li Fascism: A Warning - Madeleine Albright
                        li What Do You Care What Other People Think? - Richard Feynman & Ralph Leighton
                        li The Murder on the Links - Agatha Christie
                        li "Surely You're Joking, Mr. Feynman!": Adventures of Curious Character - Richard Feynman & Ralph Leighton
                        li Outliers: The Story of Success -  Malcolm Gladwell
                        li Poirot Investigates - Agatha Christie
                        li Norse Mythology - Neil Gaiman
                        li The Murder of Roger Ackroyd - Agatha Christie
                        li The Last Interview - Christopher Hitchens
                        li My Own Words - Ruth Bader Ginsburg
                        li A Brief History of the Amazons: Women Warriors in Myth and History - Lyn Webster Wilde
                        li The Big Four - Agatha Christie
                        li Bad Blood: Secrets and Lies in a Silicon Valley Startup - John Carreyrou
                        li The Song of Achilles - Madeline Miller
                        li The Mystery of the Blue Train - Agatha Christie
                        li Circe - Madeline Miller
                        li Steve Jobs - Walter Isaacson
                        li Peril at End House - Agatha Christie
                        li Lord Edgware Dies - Agatha Christie
                        li Einstein: His Life & Universe - Walter Isaacson
                        li Three Act Tradgedy - Agatha Christie
                        li The Four: The Hidden DNA of Amazon, Apple, Facebook, and Google - Scott Galloway
                        li My Oxford Year - Julia Whelan
                        li Origin - Dan Brown
                        li Capital in the Twenty-First Century - Thomas Piketty
                        li The Lean Startup - Eric Ries
                        li How Google Works - Eric Schmidt & Jonathan Rosenberg
                        li HBR's 10 Must Reads on Managing Yourself - Harvard Business Review
                        li The Everything Store: Jeff Bezos and the Age of Amazon - Brad Stone
                        li The Innovator's Dilemma - Clayton M. Christensen
                        li Reality is Not What It Seems - Carlo Rovelli
                        li The Order of Time - Carlo Rovelli
                        li Fear: Trump in the White House - Bob Woodward
                        li The Quantum Labyrinth: How Richard Feynman and John Wheeler Revolutionised Time and Reality - Paul Halpern
                        li The Last Man Who Knew Everything: The Life and Times of Enrico Fermi, Father of the Nuclear Age - David N. Schwartz
                        li The Ides of March - Valerio Massimo Manfredi
                        li Turing's Cathedral: The Origins of the Digital Universe - George Dyson
                        li The Strangest Man: The Hidden Life of Paul Dirac, Mystic of the Atom - Graham Farmelo
                        li Moonraker - Ian Fleming
                        li A Mind At Play: How Claude Shannon Invented the Information Age - Jimmy Soni & Rob Goodman
                        li The Idea Factory: Bell Labs and the Great Age of American Innovation - Jon Gertner
                        li Diamonds Are Forever - Ian Fleming
                    br

                #pills-2017.tab-pane.fade(role='tabpanel', aria-labelledby='pills-2017-tab')
                    h3 Read in 2017
                    br
                    ol
                        li Scarecrow and the Army of Theives - Matthew Reilly
                        li The Phoenix Project - Gene Kim, George Spafford & Kevin Behr
                        li Four Legendary Kingdoms - Matthew Reilly
                        li The One World Schoolhouse - Salman Khan
                        li The Girl with the Dragon Tattoo - Stieg Larsson
                        li Treasure Island - Robert Louis Stevenson
                        li The Girl Who Played with Fire - Stieg Larsson
                        li A Brief History of Time - Stephen Hawking
                        li Where are the Customer's Yachts? - Fred Schwed Jr.
                        li Casino Royale - Ian Fleming
                        li Brave New World - Aldous Huxley
                        li SPQR: A History of Ancient Rome - Mary Beard
                        li Misery - Stephen King
                        li Of Mice & Men - John Steinbeck
                        li Meditations - Marcus Aurelius
                        li Deep Work - Cal Newport
                        li Live and Let Die - Ian Fleming
                        li Production Ready Microservices - Susan Fowler Rigetti
                        li Eichmann in Jerusalem - Hannah Arendt
                        li The Trial - Franz Kafka
                        li Superintelligence - Nick Bostrom
                        li Mr Mercedes - Stephen King
                        li Let Me Tell You - Shirley Jackson
                        li The Golden Passport: Harvard Business School, the Limits of Capitalism, and the Moral Failure of the MBA Elite - Duff McDonald
                        li The Secret History - Donna Tartt
                        li The Art of Deception - Kevin Mitnick
                        li Quantum Chance: Nonlocality, Teleportation and Other Quantum Marvels - Nicolas Gisin
                    br
            br
            br
            
            
