html, body, div,
h1, h2, h3, h4, h5,
p,
a,
video {
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
    height: 100%;
}

.navItem {
    font-family: Montserrat, sans-serif;
    display: flex;
    align-items: center;
}

.navLink {
    display: flex;
    align-items: center;
    color: #48135C !important;
    font-size: 1.6em;
    margin: auto;
    text-align: center;
}

a:hover {
    color: #9923bd !important;
    text-decoration: none;
}

.navbar {
    width: 100%;
    padding: 5vw;
}

.navbar-nav {
    width: 100%;
    justify-content: space-around;
}

#navbarLinks {
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.footer-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navTog {
    border-color: transparent;
    margin-right: 5vw;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(72, 19, 92, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    height: 5vh;
    width: 5vh;
}

#brand-img {
    height: 12vh;
    width: 12vh;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

#socialLinksRow {
    display: flex;
    visibility: hidden;
    opacity: 0.0;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.social-link {
    margin: 0 10px;
    width: 32px;
    height: 32px;
}

#githubIcon {
    width: 32px;
    height: 32px;
    padding-top: 0;
    content: url("/img/gh-dark.png");
}

#githubIcon:hover {
    color: #FFFFFF;
    content: url("/img/gh-light.png");
}

#twitterIcon {
    margin-top: 30px;
    width: 32px;
    height: 32px;
    content: url("/img/tw-dark.png");
}

#twitterIcon:hover {
    color: #FFFFFF;
    content: url("/img/tw-light.png");
}

#linkedinIcon {
    margin-top: 30px;
    width: 32px;
    height: 32px;
    content: url("/img/li-dark.png");
}

#linkedinIcon:hover {
    color: #FFFFFF;
    content: url("/img/li-light.png");
}
.footer-row {

}

#linkAggregator {
    display: flex;
    height: 30px;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 30px;
}

#linkAggregator:hover {
    text-decoration: none;
    color: #c30000 !important;
}

div#preload {
    opacity: 0.01;
}

a, h1, h2, h3, h4, h5 {
    font-family: Montserrat, sans-serif;
    color: #48135C;
}

#me {
    border-radius: 50%;
    max-width: 250px;
}

/* TinyMCE/Prism Code Block Customisation */
pre {
    border-radius: 0 !important;
    border: none !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #48135C;
}

.reading-pill-box {
    display: flex;
    justify-content: center;
}

.year-tab {
    margin-right: 10px;
}