html,
body,
div,
h1,
p,
a,
video {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

#bg-vid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.navItem {
    font-family: Montserrat, sans-serif ;
    display: flex;
    align-items: center;
}

.navLink {
    display: flex;
    align-items: center;
    color: whitesmoke !important;
    font-size: 1.6em;
    margin: auto;
    text-align: center;
}

a:hover {
    color: #9923bd !important;
}

.navbar {
    width: 100%;
    padding: 5vw;
}

.navbar-nav {
    width: 100%;
    justify-content: space-around;
}

#navbarLinks {
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.navbar-brand {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: 5;
    animation-iteration-count: 5;
}

.footer-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navTog {
    border-color: transparent;
    margin-right: 5vw;
}

.navbar-toggler-icon {
    height: 5vh;
    width: 5vh;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(72, 19, 92, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.005); }
    100% { -webkit-transform: scale(1); }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.005); }
    100% { transform: scale(1); }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

#brand-img {
    height: 12vh;
    width: 12vh;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

#socialLinksRow {
    display: flex;
    visibility: hidden;
    opacity: 0.0;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.social-link {
    margin: 0 10px;
    width: 32px;
    height: 32px;
}

#githubIcon {
    width: 32px;
    height: 32px;
    padding-top: 0;
    content: url("/img/social/gh-dark.png");
}

#githubIcon:hover {
    color: #FFFFFF;
    content: url("/img/social/gh-light.png");
}

#twitterIcon {
    margin-top: 30px;
    width: 32px;
    height: 32px;
    content: url("/img/social/tw-dark.png");
}

#twitterIcon:hover {
    color: #FFFFFF;
    content: url("/img/social/tw-light.png");
}

#linkedinIcon {
    margin-top: 30px;
    width: 32px;
    height: 32px;
    content: url("/img/social/li-dark.png");
}

#linkedinIcon:hover {
    color: #FFFFFF;
    content: url("/img/social/li-light.png");
}
.footer-row {

}

#linkAggregator {
    display: flex;
    height: 30px;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 30px;
}

#linkAggregator:hover {
    text-decoration: none;
    color: #c30000 !important;
}

.smoke {
    color: whitesmoke;
}

@media only screen and (max-device-width: 992px) {
    body {
        background: url('/img/vigbg.jpg') #111 no-repeat center center fixed;
    }
    #bg-vid {
        display: none;
    }
    .navLink {
        justify-content: center;
        text-align: center;
        margin: auto;
        width: 100%;
    }
    .navItem {
        margin: 0 !important;
    }
    #navbarLinks {
        margin: 0;
    }
}

div#preload {
    visibility: hidden;
}